body {
  font-family: "Open Sans", sans-serif;
  background-color: #f7ead9;
}

h3 {
  font-family: Raleway, sans-serif;
  margin: 0.25rem 0;
}

/* HEADER */
header {
  background: #e2af77;
  padding: 0.7rem 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* NEW ENTRY FORM */
h2 {
  margin-top: 0;
}

img,
input,
textarea {
  width: 100%;
  margin: 0.2rem 0 1rem;
}

input,
textarea {
  padding: 10px;
  outline: none;
  border: 2px solid rgb(186, 186, 186);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #e2af77;
  border-radius: 3px;
}

.save-btn {
  font-family: inherit;
  background-color: #e2af77;
  color: white;
  border: none;
  width: auto;
  float: right;
  padding: 3px 10px;
  border-radius: 3px;
  text-align: right;
}

.save-btn:active {
  transition: none;
}

/* MAIN */
