body {
  font-family: "Open Sans", sans-serif;
  background-color: #f7ead9;
}

h3 {
  font-family: Raleway, sans-serif;
  margin: 0.25rem 0;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.entries-header > a:visited {
  color: white;
}

.btn-style {
  font-family: inherit;
  background-color: #da964e;
  color: white;
  border: none;
  width: auto;
  float: right;
  padding: 5px 15px;
  border-radius: 3px;
  text-align: right;
}

/* HEADER */
header {
  width: 100%;
  background: #da964e;
  padding: 0.7rem 1rem;
}

.page-header {
  display: flex;
  align-items: center;
  color: white;
}

.page-header > h3 {
  min-width: 140px;
}

.navbar {
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.navbar-link {
  flex: 1 1 auto;
  margin: 0 1.5rem;
}

.header-anchors:visited {
  color: white;
}

.navbar-search-box {
  flex: 2 1 auto;
}

#search-entries {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  margin: 0;
}

/* FORM */

h1 {
  margin-top: 0;
}

img,
input,
textarea {
  width: 100%;
  margin: 0.2rem 0 1rem;
  border-radius: 3px;
}

input,
textarea {
  padding: 10px;
  outline: none;
  border: 2px solid rgb(186, 186, 186);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #e2af77;
  border-radius: 3px;
}

.save-btn:focus {
  border: none;
}

.delete-entry[href] {
  color: red;
  text-decoration: underline;
}

/* MAIN */
.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 15px 0;
}

.entries-h1 {
  display: inline;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  display: inline;
  margin: 0;
}

.empty-search {
  font-size: 1.5rem;
  margin: 25px 0;
}

.icon-anchor > i {
  float: right;
}

/* MODAL */

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background-color: rgba(0 0 0 / 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 350px;
  height: 150px;
  background-color: #f7ead9;
  border-radius: 5px;
  border: 0.5px solid black;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-text > p {
  margin-top: 25px;
}

.modal-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-btns > button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 15px;
  border: none;
  border-radius: 3px;
}

.confirm-modal {
  color: white;
  background-color: red;
}

.cancel-modal {
  background-color: rgb(180, 180, 180);
}
