body {
  font-family: "Open Sans", sans-serif;
  background-color: #f7ead9;
}

h3 {
  font-family: Raleway, sans-serif;
  margin: 0.25rem 0;
}

.btn-style {
  font-family: inherit;
  background-color: #da964e;
  color: white;
  border: none;
  width: auto;
  float: right;
  padding: 5px 15px;
  border-radius: 3px;
  text-align: right;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

/* HEADER */
header {
  width: 100%;
  background: #da964e;
  padding: 0.7rem 1rem;
}

.page-header {
  display: flex;
  align-items: center;
  color: white;
}

.page-header > a {
  margin-left: 30px;
}

ul.navbar > li {
  margin: 0 20px;
}

/* NEW ENTRY FORM */

h1 {
  margin-top: 0;
}

img,
input,
textarea {
  width: 100%;
  margin: 0.2rem 0 1rem;
  border-radius: 3px;
}

input,
textarea {
  padding: 10px;
  outline: none;
  border: 2px solid rgb(186, 186, 186);
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #e2af77;
  border-radius: 3px;
}

.save-btn:focus {
  border: none;
}

/* MAIN */
.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entries-h1 {
  display: inline;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}
